/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 50px;
}

.logo {
  display: flex;
  padding: 2% 0;
  color: MediumAquamarine;
  width: 150px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  color: black;
}

.navigation span {

}

.navigation a {
  color: black;
}

.logo p {
  padding: 4% 0;
  margin-left: 10px;
}

/* Main Content */

div.content {
  display:flex;
  align-items: flex-start;
}

/*.content div {
  border: 1px solid black;
}*/

div.column {
  display: flex;
  margin: 0px 20px;
}

.column.large {
  width: 630px;
  flex-flow: column wrap;
}

.column.medium {
  width: 300px;
  flex-flow: column wrap;
}

.column.small {
  width: 240px;
  flex-flow: column wrap;
  align-items: center;
}

.hero-article {
  width: 630px;
}

.sub-article-container {
  width: 630px;
  display: flex;
  justify-content: space-between;
}

.image-headline-container {
  width: 630px;
  display: flex;
  justify-content: space-between;
}

.image-headline {
  display: flex;
}

.image-headline-container .image-headline {
  width: 300px;
  height: 300px;
}

.image-headline h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.sub-article-container .sub-article {
  width: 300px;
  height: 250px;
}

.content p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-headline.main-headline h2 {
  font-size: 40px;
}

.column.small h3 {
  font-size: 16px;
  font-weight: bold;
}

.news-bites-headlines li {
  list-style-type: none;
  margin: 0px;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#phish {
  background-image: url("../images/img-story-main.png");
}

#earth {
  background-image: url("../images/img-story-2.png");
}

#cameras {
  background-image: url("../images/img-story-3.png");
}

#cats {
  background-image: url("../images/img-story-1.png");
}
