/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 50px;
}

.logo {
  display: flex;
  padding: 2% 0;
  color: MediumAquamarine;
  width: 150px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  color: black;
}

.navigation span {

}

.navigation a {
  color: black;
}

.logo p {
  padding: 4% 0;
  margin-left: 10px;
}

/* Main Content */

div.content {
  display:flex;
}

div.column {
  display: flex;
}

.content div {
  border: 1px solid black;
}

.column.large {
  width: 630px;
  flex-flow: column wrap;
}

.column.medium {
  width: 300px;
  flex-flow: column wrap;
}

.column.small {
  width: 240px;
  flex-flow: column wrap;
}
